{{> header}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Curso de Node.JS</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis minus magnam ea quasi optio nesciunt expedita ad autem consequuntur, velit voluptatibus ducimus impedit labore ab sed cupiditate, quisquam enim in.
        </p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/nodejs.svg" alt="logo de Node.JS">
    </div>
</div>
{{> footer}}